@import "tailwindcss";

@theme {
  --color-neutral-1: #141516;
  --color-neutral-2: #262626;
  --color-neutral-3: #454545;
  --color-neutral-5: #888888;
  --color-neutral-6: #d1d1d1;
}

body {
  background-color: black;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

input {
  outline: none;
}
